.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 20px #7a7faf;
    background: #111013;
    overflow-y: scroll;
    h2{
        padding: 2rem;
    }
}

.library-song{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    img{
        width: 30%;
    }
    &:hover{
        background-color: rgb(33, 33, 34);
    }
}

.song-description{
    padding-left: 1rem;
    h3{
        font-size: 1rem;

    }
    h4{
        font-size: 0.7rem;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(58, 58, 59, 0.87) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color:rgba(58, 58, 59, 0.87);
    border-radius: 20px;
    border: transparent;
}
.selected{
    background-color: rgb(33, 33, 34);
}